# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import os
import chardet

# Read Data

In [2]:
files_names = os.listdir('../../dataset/raw/')
files_names

['club.csv',
 'club.ibd',
 'club_stats.csv',
 'club_stats.ibd',
 'manager.csv',
 'manager.ibd',
 'manager_club.csv',
 'manager_club.ibd',
 'match.csv',
 'match_.ibd',
 'player.csv',
 'player.ibd',
 'player_club.csv',
 'player_club.ibd',
 'player_performance.csv',
 'player_performance.ibd',
 'player_stats.csv',
 'player_stats.ibd',
 'stadium.csv',
 'stadium.ibd']

In [3]:
files_names = [file_name for file_name in files_names if file_name.endswith('.csv')]
files_names

['club.csv',
 'club_stats.csv',
 'manager.csv',
 'manager_club.csv',
 'match.csv',
 'player.csv',
 'player_club.csv',
 'player_performance.csv',
 'player_stats.csv',
 'stadium.csv']

In [4]:
df_club = pd.read_csv('../../dataset/raw/club.csv')
df_club_stats = pd.read_csv('../../dataset/raw/club_stats.csv')
df_manager = pd.read_csv('../../dataset/raw/manager.csv')
df_manager_club = pd.read_csv('../../dataset/raw/manager_club.csv')
df_match = pd.read_csv('../../dataset/raw/match.csv')
df_player = pd.read_csv('../../dataset/raw/player.csv')
df_player_club = pd.read_csv('../../dataset/raw/player_club.csv')
df_player_performance = pd.read_csv('../../dataset/raw/player_performance.csv')
df_player_stats = pd.read_csv('../../dataset/raw/player_stats.csv')
df_stadium = pd.read_csv('../../dataset/raw/stadium.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 422: invalid continuation byte

In [5]:
import chardet

with open('../../dataset/raw/player.csv', 'rb') as f:
    result = chardet.detect(f.read())
    print(result['encoding'])

ISO-8859-1

In [6]:
df_club = pd.read_csv('../../dataset/raw/club.csv')
df_club_stats = pd.read_csv('../../dataset/raw/club_stats.csv')
df_manager = pd.read_csv('../../dataset/raw/manager.csv')
df_manager_club = pd.read_csv('../../dataset/raw/manager_club.csv')
df_match = pd.read_csv('../../dataset/raw/match.csv')
df_player = pd.read_csv('../../dataset/raw/player.csv', encoding='ISO-8859-1', header=1)
df_player_club = pd.read_csv('../../dataset/raw/player_club.csv')
df_player_performance = pd.read_csv('../../dataset/raw/player_performance.csv')
df_player_stats = pd.read_csv('../../dataset/raw/player_stats.csv')
df_stadium = pd.read_csv('../../dataset/raw/stadium.csv')

# Data Cleaning

##### Club

In [7]:
df_club.shape

(50, 4)

In [8]:
df_club.head()

   club_id  stadium_id         club_name          website
0      120         133           Arsenal  www.arsenal.com
1      121         134       Aston Villa   www.avfc.co.uk
2      122         135          Barnsley             Null
3      123         136   Birmingham City             Null
4      124         137  Blackburn Rovers             Null

In [9]:
df_club.duplicated().sum()

0

In [10]:
df_club = df_club.replace({'Null': np.nan,
                           '\\N': np.nan})
df_club.isna().sum() / len(df_club) * 100

club_id        0.0
stadium_id     0.0
club_name      0.0
website       38.0
dtype: float64

* As null values represent almost 38% of `website` column data, we'll drop it.

In [11]:
df_club = df_club.drop(columns='website')
df_club.head()

   club_id  stadium_id         club_name
0      120         133           Arsenal
1      121         134       Aston Villa
2      122         135          Barnsley
3      123         136   Birmingham City
4      124         137  Blackburn Rovers

In [12]:
df_club.duplicated().sum()

0

##### club stats

In [13]:
df_club_stats.shape

(23018, 15)

In [14]:
df_club_stats.head()

,match_id,club_id,possession,shots,shots_on_target,touches,passes,tackles,clearances,corners,offsides,offsides.1,fouls_conceded,yellow_cards,red_cards
0,5943,153,36.5,12,4,378,230,22,21,2,6,6,19,0,0
1,5943,120,63.5,13,5,610,413,24,28,6,7,7,16,0,0
2,5933,120,52.8,14,3,636,453,33,29,3,3,3,19,1,0
3,5933,134,47.2,10,3,578,405,23,16,7,10,10,13,2,1
4,5923,120,57.5,15,8,674,477,26,41,7,5,5,6,2,0

In [15]:
df_club_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23018 entries, 0 to 23017
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         23018 non-null  int64
 1   club_id          23018 non-null  int64
 2   possession       23018 non-null  object
 3   shots            23018 non-null  object
 4   shots_on_target  23018 non-null  object
 5   touches          23018 non-null  object
 6   passes           23018 non-null  object
 7   tackles          23018 non-null  object
 8   clearances       23018 non-null  object
 9   corners          23018 non-null  object
 10  offsides         23018 non-null  object
 11  offsides.1       23018 non-null  object
 12  fouls_conceded   23018 non-null  object
 13  yellow_cards     23018 non-null  object
 14  red_cards        23018 non-null  object
dtypes: int64(2), object(13)
memory usage: 2.6+ MB

* Check Duplicates

In [16]:
df_club_stats.duplicated().sum()

0

* Check Nulls

In [17]:
df_club_stats = df_club_stats.replace({'Null': np.nan,
                                       '\\N': np.nan})
df_club_stats.isna().sum()

match_id               0
club_id                0
possession         11132
shots              11132
shots_on_target    11132
touches            11132
passes             11132
tackles            11132
clearances         11132
corners            11132
offsides           11132
offsides.1         11132
fouls_conceded     11132
yellow_cards       11132
red_cards          11132
dtype: int64

* Drop Nulls

In [18]:
df_club_stats = df_club_stats.dropna().reset_index(drop=True)

In [19]:
df_club_stats.shape

(11886, 15)

* Validate dtypes

In [20]:
df_club_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11886 entries, 0 to 11885
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         11886 non-null  int64
 1   club_id          11886 non-null  int64
 2   possession       11886 non-null  object
 3   shots            11886 non-null  object
 4   shots_on_target  11886 non-null  object
 5   touches          11886 non-null  object
 6   passes           11886 non-null  object
 7   tackles          11886 non-null  object
 8   clearances       11886 non-null  object
 9   corners          11886 non-null  object
 10  offsides         11886 non-null  object
 11  offsides.1       11886 non-null  object
 12  fouls_conceded   11886 non-null  object
 13  yellow_cards     11886 non-null  object
 14  red_cards        11886 non-null  object
dtypes: int64(2), object(13)
memory usage: 1.4+ MB

In [21]:
df_club_stats['possession'] = df_club_stats['possession'].astype('float64')
df_club_stats[df_club_stats.columns[3:]] = df_club_stats[df_club_stats.columns[3:]].astype('int64')
df_club_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11886 entries, 0 to 11885
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         11886 non-null  int64
 1   club_id          11886 non-null  int64
 2   possession       11886 non-null  float64
 3   shots            11886 non-null  int64
 4   shots_on_target  11886 non-null  int64
 5   touches          11886 non-null  int64
 6   passes           11886 non-null  int64
 7   tackles          11886 non-null  int64
 8   clearances       11886 non-null  int64
 9   corners          11886 non-null  int64
 10  offsides         11886 non-null  int64
 11  offsides.1       11886 non-null  int64
 12  fouls_conceded   11886 non-null  int64
 13  yellow_cards     11886 non-null  int64
 14  red_cards        11886 non-null  int64
dtypes: float64(1), int64(14)
memory usage: 1.4 MB

* Check duplicate column

In [22]:
(df_club_stats['offsides'] == df_club_stats['offsides.1']).sum()

11886

* Remove duplicate column

In [23]:
df_club_stats = df_club_stats.drop(columns='offsides.1')

##### Manager

In [24]:
df_manager.shape

(246, 8)

In [25]:
df_manager.head()

,manager_id,manager_name,country,active,joined_club,date_of_birth,epl_seasons,epl_debut_match
0,67,Mikel Arteta,Spain,1,2019-12-22,1982-03-26,3,"AFC Bournemouth (a),26 December 2019, Drawn 1 - 1"
1,68,Dean Smith,England,1,2018-10-10,1971-03-19,2,"Tottenham Hotspur (a),10 August 2019, Lost 1 - 3"
2,69,Graham Potter,England,1,2019-05-20,1975-05-20,2,"Watford (a),10 August 2019, Won 3 - 0"
3,70,Sean Dyche,England,1,2012-10-30,1971-06-28,6,"Chelsea (h),18 August 2014, Lost 1 - 3"
4,71,Thomas Tuchel,Germany,1,2021-01-26,1973-08-29,1,"Wolverhampton Wanderers (h),27 January 2021, D..."

* Check Duplicates

In [26]:
df_manager.duplicated().sum()

0

* Check Nulls

In [27]:
df_manager = df_manager.replace({'Null': np.nan,
                                 '\\N': np.nan})
df_manager.isna().sum()

manager_id         0
manager_name       0
country            0
active             0
joined_club        0
date_of_birth      0
epl_seasons        0
epl_debut_match    0
dtype: int64

* Validate dtypes

In [28]:
df_manager.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   manager_id       246 non-null    int64
 1   manager_name     246 non-null    object
 2   country          246 non-null    object
 3   active           246 non-null    int64
 4   joined_club      246 non-null    object
 5   date_of_birth    246 non-null    object
 6   epl_seasons      246 non-null    int64
 7   epl_debut_match  246 non-null    object
dtypes: int64(3), object(5)
memory usage: 15.5+ KB

In [29]:
df_manager['joined_club'] = pd.to_datetime(df_manager['joined_club'], format='%Y-%m-%d')
df_manager['date_of_birth'] = pd.to_datetime(df_manager['date_of_birth'], format='%Y-%m-%d')
df_manager.info()

ValueError: time data "0000-00-00" at position 5 doesn't match format specified

* As `joined_club` has value 'df_manager' represent almost 91% of data, we'll drop it.

In [30]:
len(df_manager[df_manager['joined_club'] == '0000-00-00']) / len(df_manager) * 100

91.46341463414635

In [31]:
df_manager = df_manager.drop(columns='joined_club')

In [32]:
df_manager['date_of_birth'] = pd.to_datetime(df_manager['date_of_birth'], format='%Y-%m-%d')
df_manager.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   manager_id       246 non-null    int64
 1   manager_name     246 non-null    object
 2   country          246 non-null    object
 3   active           246 non-null    int64
 4   date_of_birth    246 non-null    datetime64[ns]
 5   epl_seasons      246 non-null    int64
 6   epl_debut_match  246 non-null    object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 13.6+ KB

##### Manager Club

In [33]:
df_manager_club.shape

(815, 3)

In [34]:
df_manager_club.head()

   manager_id  club_id   season
0          67      120  2019/20
1          67      120  2020/21
2          67      120  2021/22
3          95      120  2019/20
4          96      120  2018/19

* Check Duplicates

In [35]:
df_manager_club.duplicated().sum()

0

* Check Nulls

In [36]:
df_manager_club.replace({'Null': np.nan,
                         '\\N': np.nan})
df_manager_club.isna().sum()

manager_id    0
club_id       0
season        0
dtype: int64

* Validate dtypes

In [37]:
df_manager_club.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   manager_id  815 non-null    int64
 1   club_id     815 non-null    int64
 2   season      815 non-null    object
dtypes: int64(2), object(1)
memory usage: 19.2+ KB

In [38]:
df_manager_club.head()

   manager_id  club_id   season
0          67      120  2019/20
1          67      120  2020/21
2          67      120  2021/22
3          95      120  2019/20
4          96      120  2018/19

##### Match

In [39]:
df_match.shape

(11266, 10)

In [40]:
df_match.head()

,match_id,home_team_id,away_team_id,home_team_goals,away_team_goals,match_date,matchweek,referee,stadium_id,season
0,1,120,150,2,4,1992-08-15,1,Alan Gunn,231,1992/93
1,2,134,152,1,1,1992-08-15,1,Jim Borrett,147,1992/93
2,3,135,148,2,1,1992-08-15,1,Howard King,148,1992/93
3,4,136,124,3,3,1992-08-15,1,Roger Milford,149,1992/93
4,5,138,157,1,1,1992-08-15,1,Kelvin Morton,151,1992/93

* Check Duplicates

In [41]:
df_match.duplicated().sum()

0

* Check Nulls

In [42]:
df_match = df_match.replace({'Null': np.nan,
                             '\\N': np.nan})
df_match.isna().sum()

match_id           0
home_team_id       0
away_team_id       0
home_team_goals    0
away_team_goals    0
match_date         0
matchweek          1
referee            1
stadium_id         0
season             0
dtype: int64

In [43]:
df_match[df_match.isna().any(axis=1)]

,match_id,home_team_id,away_team_id,home_team_goals,away_team_goals,match_date,matchweek,referee,stadium_id,season
3955,3956,124,142,2,1,0000-00-00,NaN,NaN,137,2001/02

Note: Got the info from the following link: https://www.besoccer.com/match/blackburn-rovers-fc/ipswich-town-fc/2002955/rounds

And you can get more info from Premier League official website: https://www.premierleague.com/match/3956

In [44]:
df_match.loc[df_match.isna().any(axis=1), 'match_date'] = '2002-03-13'
df_match.loc[df_match.isna().any(axis=1), 'matchweek'] = '27'
df_match.loc[df_match.isna().any(axis=1), 'referee'] = 'Phil Dowd'

In [45]:
df_match.isna().sum()

match_id           0
home_team_id       0
away_team_id       0
home_team_goals    0
away_team_goals    0
match_date         0
matchweek          0
referee            0
stadium_id         0
season             0
dtype: int64

* Validate dtypes

In [46]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11266 entries, 0 to 11265
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         11266 non-null  int64
 1   home_team_id     11266 non-null  int64
 2   away_team_id     11266 non-null  int64
 3   home_team_goals  11266 non-null  int64
 4   away_team_goals  11266 non-null  int64
 5   match_date       11266 non-null  object
 6   matchweek        11266 non-null  object
 7   referee          11266 non-null  object
 8   stadium_id       11266 non-null  int64
 9   season           11266 non-null  object
dtypes: int64(6), object(4)
memory usage: 880.3+ KB

In [47]:
df_match['match_date'] = pd.to_datetime(df_match['match_date'], format='%Y-%m-%d')

In [48]:
df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11266 entries, 0 to 11265
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         11266 non-null  int64
 1   home_team_id     11266 non-null  int64
 2   away_team_id     11266 non-null  int64
 3   home_team_goals  11266 non-null  int64
 4   away_team_goals  11266 non-null  int64
 5   match_date       11266 non-null  datetime64[ns]
 6   matchweek        11266 non-null  object
 7   referee          11266 non-null  object
 8   stadium_id       11266 non-null  int64
 9   season           11266 non-null  object
dtypes: datetime64[ns](1), int64(6), object(3)
memory usage: 880.3+ KB

##### Player

In [49]:
df_player.shape

(6631, 7)

In [50]:
df_player.head()

,player_id,player_name,player_number,position,country,date_of_birth,height
0,p1,Alan Shearer,\N,Forward,England,1970-08-13,183
1,p100059,Alberto Moreno,\N,Defender,Spain,1992-07-05,171
2,p100180,Danilo,\N,Defender,Brazil,1991-07-15,184
3,p10022,Cory Gibbs,\N,Defender,United States,1980-01-14,188
4,p10039,Abdeslam Ouaddou,\N,Defender,Morocco,1978-11-01,193

* Check Duplicates

In [51]:
df_player.duplicated().sum()

0

* Check Nulls

In [52]:
df_player = df_player.replace({'Null': np.nan,
                               '\\N': np.nan})
df_player.isna().sum()

player_id           0
player_name         0
player_number    6050
position           93
country             1
date_of_birth       0
height            536
dtype: int64

* We'll keep the interesting columns

In [53]:
df_player = df_player[['player_id', 'player_name', 'country']]
df_player.isna().sum()

player_id      0
player_name    0
country        1
dtype: int64

* Fill player's country from `google`.

In [54]:
df_player[df_player.isna().any(axis=1)]

     player_id   player_name country
5244   p506759  Danny Taylor     NaN

In [55]:
df_player.loc[df_player.isna().any(axis=1), 'country'] = 'England'

In [56]:
df_player.isna().sum()

player_id      0
player_name    0
country        0
dtype: int64

##### Player Club

In [57]:
df_player_club.shape

(25248, 3)

In [58]:
df_player_club.head()

  player_id  club_id   season
0   p101184      120  2014/15
1   p101184      120  2015/16
2   p101184      120  2016/17
3   p101184      120  2017/18
4   p101184      120  2018/19

* Check Duplicates

In [59]:
df_player_club.duplicated().sum()

0

* Check Nulls

In [60]:
df_player_club = df_player_club.replace({'Null': np.nan,
                                         '\\N': np.nan})
df_player_club.isna().sum()

player_id    0
club_id      0
season       0
dtype: int64

* Validate dtypes

In [61]:
df_player_club.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25248 entries, 0 to 25247
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  25248 non-null  object
 1   club_id    25248 non-null  int64
 2   season     25248 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.9+ KB

In [62]:
df_player_club.head()

  player_id  club_id   season
0   p101184      120  2014/15
1   p101184      120  2015/16
2   p101184      120  2016/17
3   p101184      120  2017/18
4   p101184      120  2018/19

##### Player Performance

In [63]:
df_player_performance.shape

(51834, 5)

In [64]:
df_player_performance.head()

   player_performance_id player_id  match_id  type_of_stat minute
0                      1     p1190       461             1     52
1                      2      p520       461             1     39
2                      3    p16965       461             1     46
3                      4    p16965       461             1     78
4                      5     p8889       461             3     52

* Check Duplicates

In [65]:
df_player_performance.duplicated().sum()

0

* Check Nulls

In [66]:
df_player_performance = df_player_performance.replace({'Null': np.nan,
                                                       '\\N': np.nan})
df_player_performance.isna().sum()

player_performance_id    0
player_id                0
match_id                 0
type_of_stat             0
minute                   3
dtype: int64

* Replace `type_of_stat` values

In [67]:
df_player_performance['type_of_stat'] = df_player_performance['type_of_stat'].replace({1: 'goal', 
                                                                                       2: 'goal (by penalty)', 
                                                                                       3: 'assist', 
                                                                                       4: 'own goal', 
                                                                                       5: 'red card', 
                                                                                       6: 'Second Yellow Card (and/or Red'
                                                                                       })

df_player_performance.head()

   player_performance_id player_id  match_id type_of_stat minute
0                      1     p1190       461         goal     52
1                      2      p520       461         goal     39
2                      3    p16965       461         goal     46
3                      4    p16965       461         goal     78
4                      5     p8889       461       assist     52

* As we see in the cell below, all NaN values of `minute` have the same `match_id`. So, we can `google` it!

In [68]:
df_validate_player_performance = df_player_performance[df_player_performance.isna().any(axis=1)].copy()
df_validate_player_performance

       player_performance_id player_id  match_id type_of_stat minute
17106                  17112     p1045      3956         goal    NaN
17107                  17113     p1256      3956         goal    NaN
17108                  17114     p1820      3956         goal    NaN

Get match details

In [69]:
df_match_details = df_match[df_match['match_id'].isin([3956])].iloc[:, 1:]
df_match_details

,home_team_id,away_team_id,home_team_goals,away_team_goals,match_date,matchweek,referee,stadium_id,season
3955,124,142,2,1,2002-03-13,27,Phil Dowd,137,2001/02

Get club names

In [70]:
df_match_details[['home_team_id', 'away_team_id']] = df_club[df_club['club_id'].isin(df_match_details[['home_team_id', 'away_team_id']].values[0])]['club_name'].values
df_match_details = df_match_details.rename(columns={'home_team_id': 'home_team',
                                                    'away_team_id': 'away_team'})
df_match_details

,home_team,away_team,home_team_goals,away_team_goals,match_date,matchweek,referee,stadium_id,season
3955,Blackburn Rovers,Ipswich Town,2,1,2002-03-13,27,Phil Dowd,137,2001/02

In [71]:
df_validate_player_performance[df_match_details.columns] = df_match_details.values.tolist()*3
df_validate_player_performance

,player_performance_id,player_id,match_id,type_of_stat,minute,home_team,away_team,home_team_goals,away_team_goals,match_date,matchweek,referee,stadium_id,season
17106,17112,p1045,3956,goal,NaN,Blackburn Rovers,Ipswich Town,2,1,2002-03-13,27,Phil Dowd,137,2001/02
17107,17113,p1256,3956,goal,NaN,Blackburn Rovers,Ipswich Town,2,1,2002-03-13,27,Phil Dowd,137,2001/02
17108,17114,p1820,3956,goal,NaN,Blackburn Rovers,Ipswich Town,2,1,2002-03-13,27,Phil Dowd,137,2001/02

Get players names

In [72]:
df_validate_player_performance['player_id'] = df_player[df_player['player_id'].isin(df_validate_player_performance['player_id'])]['player_name'].values
df_validate_player_performance[df_match.columns[1:]] = df_match[df_match['match_id'].isin([3956])].iloc[:, 1:].values.tolist()*len(df_validate_player_performance)
df_validate_player_performance = df_validate_player_performance.rename(columns={'player_id': 'player_name'})
df_validate_player_performance

,player_performance_id,player_name,match_id,type_of_stat,minute,home_team,away_team,home_team_goals,away_team_goals,match_date,matchweek,referee,stadium_id,season,home_team_id,away_team_id
17106,17112,Marcus Stewart,3956,goal,NaN,Blackburn Rovers,Ipswich Town,2,1,2002-03-13,27,Phil Dowd,137,2001/02,124,142
17107,17113,Damien Duff,3956,goal,NaN,Blackburn Rovers,Ipswich Town,2,1,2002-03-13,27,Phil Dowd,137,2001/02,124,142
17108,17114,Andrew Cole,3956,goal,NaN,Blackburn Rovers,Ipswich Town,2,1,2002-03-13,27,Phil Dowd,137,2001/02,124,142

Now let's fill minute with values: 55, 20, 43 respectively.<br>

source: https://www.besoccer.com/match/blackburn-rovers-fc/ipswich-town-fc/2002955

In [73]:
df_validate_player_performance['minute'] = ['55', '20', '43']

In [74]:
df_player_performance.loc[df_player_performance.isna().any(axis=1), 'minute'] = ['55', '20', '43']

In [75]:
df_player_performance.isna().sum()

player_performance_id    0
player_id                0
match_id                 0
type_of_stat             0
minute                   0
dtype: int64

In [76]:
del df_validate_player_performance
del df_match_details

##### Player Stats

In [77]:
df_player_stats.shape

(356465, 8)

In [78]:
df_player_stats.head()

,player_id,match_id,is_in_starting_11,substitution_on,substitution_off,yellow_card,red_card,is_home_side
0,p1,4,1,Null,Null,Null,Null,0
1,p1,12,1,Null,Null,Null,Null,1
2,p1,24,1,Null,Null,Null,Null,1
3,p1,41,1,Null,Null,Null,Null,0
4,p1,46,1,Null,83',True,Null,0

* Check Duplicates

In [79]:
df_player_stats.duplicated().sum()

0

* Check Nulls

In [80]:
df_player_stats = df_player_stats.replace({'Null': np.nan,
                                           '\\N': np.nan})
df_player_stats.isna().sum()

player_id                 0
match_id                  0
is_in_starting_11         0
substitution_on      303613
substitution_off     303578
yellow_card          321323
red_card             355139
is_home_side              0
dtype: int64

* Change `yellow_card` & `red_card` to 0, 1 instead of NaN, 'True' respectively.

In [81]:
df_player_stats[['yellow_card', 'red_card']] = df_player_stats[['yellow_card', 'red_card']].replace({'True': 1,
                                                                                                     np.nan: 0}).astype('int8')

Note that: `substitution_off` Can be null if the player is never substituted off <br>
           `substitution_on` Can be null if the player is in the starting 11 or never substituted on

* As it's not possible that player has `is_in_starting_11` value = 1 and `substitution_on` != Null at the same time, So in these cases we'll reassign `is_in_starting_11` value to 0

In [82]:
df_player_stats[(df_player_stats['is_in_starting_11'] == 1) & (df_player_stats['substitution_on'].notna())]

,player_id,match_id,is_in_starting_11,substitution_on,substitution_off,yellow_card,red_card,is_home_side
4574,p10276,838,1,57',NaN,0,0,0
26721,p1182,832,1,74',NaN,0,0,1
47040,p1318,792,1,48',NaN,0,0,0
78645,p1582,816,1,22',NaN,0,0,0
78646,p1582,820,1,40',NaN,0,0,1
78649,p1582,853,1,73',NaN,0,0,1
81080,p1592,713,1,45',NaN,0,0,1
205234,p2245,862,1,81',NaN,0,0,0

* reassign `is_in_starting_11` value to 0 **(`NEED TO CHECK IT`)**

In [83]:
# df_player_stats.loc[(df_player_stats['is_in_starting_11'] == 1) & (df_player_stats['substitution_on'].notna()), 'is_in_starting_11'] = 0

* Validate changes

In [84]:
df_player_stats[(df_player_stats['is_in_starting_11'] == 1) & (df_player_stats['substitution_on'] != np.nan)]

,player_id,match_id,is_in_starting_11,substitution_on,substitution_off,yellow_card,red_card,is_home_side
0,p1,4,1,NaN,NaN,0,0,0
1,p1,12,1,NaN,NaN,0,0,1
2,p1,24,1,NaN,NaN,0,0,1
3,p1,41,1,NaN,NaN,0,0,0
4,p1,46,1,NaN,83',1,0,0
...,...,...,...,...,...,...,...,...
356440,p999,7112,1,NaN,NaN,0,0,0
356441,p999,7121,1,NaN,63',0,0,1
356451,p999,7220,1,NaN,NaN,0,0,0
356456,p999,7271,1,NaN,NaN,1,0,0
356458,p999,7306,1,NaN,36',0,0,0

##### Stadium

In [85]:
df_stadium.shape

(71, 9)

In [86]:
df_stadium.head()

,stadium_id,stadium_name,city,capacity,record_pl_attendance,address,pitch_size,built,phone
0,133,Emirates Stadium,London,60260,"60,161 v Manchester United (3 November 2007)","Highbury House, 75 Drayton Park, London, N5 1BU",105m x 68m,2006,+44 (0) 20 7619 5003
1,134,Villa Park,Birmingham,42682,Null,"Villa Park, Trinity Road, Birmingham, B6 6HE",105m x 68m,1897,+44 (0)121 327 5353
2,135,Oakwell,Barnsley,23009,Null,"Oakwell, Grove Street, Barnsley, S71 1ET",100m x 68m,1887,+44 (0)1226 211211
3,136,St. Andrew's Trillion Trophy Stadium,Birmingham,29409,Null,"St. Andrew's Stadium, Birmingham, B9 4RL",105m x 68m,1906,0121 772 0101
4,137,Ewood Park,Blackburn,31367,Null,"Ewood Park, Blackburn, Lancashire, BB2 4JF",105m x 68m,1882,0871 222 1444

* Check Duplicates

In [87]:
df_stadium.duplicated().sum()

0

* Check Nulls

In [88]:
df_stadium = df_stadium.replace({'Null': np.nan,
                                 '\\N': np.nan})
df_stadium.isna().sum()

stadium_id               0
stadium_name             0
city                     1
capacity                23
record_pl_attendance    50
address                 23
pitch_size              23
built                   23
phone                   23
dtype: int64

In [89]:
df_stadium = df_stadium.drop(columns=df_stadium.columns[3:])

In [90]:
df_stadium[df_stadium.isna().any(axis=1)]

   stadium_id                 stadium_name city
9         142  Brentford Community Stadium  NaN

In [91]:
df_stadium.loc[df_stadium.isna().any(axis=1), 'city'] = 'London'

In [92]:
df_stadium.isna().sum()

stadium_id      0
stadium_name    0
city            0
dtype: int64

# Saving Cleaned Data

In [93]:
files_names

['club.csv',
 'club_stats.csv',
 'manager.csv',
 'manager_club.csv',
 'match.csv',
 'player.csv',
 'player_club.csv',
 'player_performance.csv',
 'player_stats.csv',
 'stadium.csv']

In [94]:
if not os.path.exists('../../dataset/clean/'):
    os.mkdir('../../dataset/clean/')

In [95]:
dataframes_to_save = [df_club, df_club_stats, df_manager, df_manager_club, df_match, df_player, df_player_club, df_player_performance, df_player_stats, df_stadium]

for df, file_name in zip(dataframes_to_save, files_names):
    df.to_csv('../../dataset/clean/'+file_name, index=False)